---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <main>
        <header>
            <a href="/" style="color: white;">
                <svg class="back" xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
            </a>
            <h1>{ frontmatter.title }</h1>
            <p class="author">Made by {frontmatter.author}, {frontmatter.date}</p>
        </header>
        <content>
            <slot>
                <h1>NO CONTENT LOADED</h1>
            </slot>
            <div style="height: 33svh;"></div>
        </content>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .author {
        opacity: 60%;
    }
    header>* {
        margin: 0;
    }
    header {
        position: relative;
    }
    header h1 {
        background: var(--golden-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
        color: transparent;
    }
    header .back {
        border: 1px solid transparent;
    }
    header .back:hover {
        border-color: white;
        border-radius: 1rem;
    }
</style>

<style is:global>
    html {
        scroll-behavior: smooth;
    }
    :root {
        --golden-gradient: linear-gradient(55deg, yellow 0%, yellow 30%, lightyellow 60%, gold 62%, yellow 100%);
        --puprle-gradient: linear-gradient(55deg, rgb(136, 58, 234) 20%, rgb(203, 173, 244) 70%, lightgrey 73.5%, rgb(203, 173, 244) 80%);
    }
    content code {
        box-sizing: border-box;
        border: 1px solid rgb(206, 157, 24);
        /* color: var(--code-col); */
        padding: 0.1rem 0.2rem;
        background: linear-gradient(55deg, yellow 0%, yellow 30%, lightyellow 60%, gold 62%, yellow 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: background-position 500ms;
    }
    content pre code {
        background: none;
        padding: 0;
        border: none;
    }
    content pre {
        position: relative;
        font-size: 1rem;
        border: 1px solid rgb(206, 157, 24);
    }
    content h1,
    content h2,
    content h3,
    content h4,
    content h5,
    content table th {
        background: var(--puprle-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
    }

    content a {
        text-decoration: dotted underline;
        color: white;
        transition: color 200ms;
    }
    content a:hover {
        color: gold;
    }

    content blockquote {
        border-left: 4px solid gold;
        padding-left: 1rem;
        margin: 0;
        background: rgba(255, 255, 255, 0.1);
    }

    /* region Scroll */
    content ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    content ::-webkit-scrollbar-track {
        background: transparent;
    }
    content ::-webkit-scrollbar-thumb {
        background: linear-gradient(55deg, yellow 10%, orange 90%);
        border-radius: 10px;
    }
    content ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    /* endregion Scroll */

    /* region Tables */
    content table {
        border-collapse: collapse;
    }
    content table th {
        white-space: nowrap;
        padding: 1px 0.5rem;
    }
    content .table-wrapper {
        overflow-x: scroll;
    }
    content table tr td {
        transition: background-color 70ms;
    }
    content table tr:hover td {
        background: rgba(255, 255, 255, 0.1);
    }
    /* endregion Tables */

    /* region Images */
    content img {
        max-width: 100%;
        height: auto;
    }
    /* endregion Images */
</style>
